body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}


.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
  }
  
  #sidebar, #content {
    height: 100%;
    overflow:auto;
    float:left;
    transition: width .35s;
  }
  
  #sidebar {
    background:white;
    width: 30%;
  }

  .sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
}
  
  #sidebar.collapsed {
    width: 0;
  }
  
  #sidebar.collapsed + #content {
    width: 100%;
  }
  
  #content {
    background:gray;
    width: 70%;
  }
  a {
    color: #3c8dbc;
  }
  
  button {
    width: 30px;
    height: 30px;
    background: black;
  }

.content {
    min-height: 700px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 782px;
  width: 230px;
}

label {
  display: block;
}


input[type=text], input[type=email], select, textarea, input[type=date] {
  width: 98%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

form {
  margin-top: 10px;
}

#contact {
    padding-top: 96px;
    padding-bottom: 102px;
}

input[type="date"] {
    resize: none;
    overflow: auto;
}

.submit {
    background: #0066A2;
    color: white;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
}

.tools {
  display: none;
  float: right;
}

.sidebar {
  padding: 10px;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content-wrapper{
  
  background-color: lightgrey;
}

.content-header {
  padding: 15px 15px 0 15px;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.box.box-primary {
  border-top-color: #3c8dbc;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}

.todo-list > li .text {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
}

.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
  content: " ";
  display: table;
}
.todo-list > li .tools > .fa, .todo-list > li .tools > .glyphicon, .todo-list > li .tools > .ion {
  margin-right: 5px;
  cursor: pointer;
}
