body {
    background:#d2d6de;
    font-family: 'Ubuntu', sans-serif;
}


.login {
    margin:0 auto;
    max-width:500px;
}

.login-header {

    text-align:center;
    font-size: 200%;
}

.login-form {
    border:.5px solid #fff;
    background:slategray;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
}

.login-form h3 {
    text-align:left;
    margin-left:40px;
    color:#fff;
}

.login-form {
    box-sizing:border-box;
    padding-top:15px;
    padding-bottom:10%;
    margin:5% auto;
    text-align:center;
}

.login input[type="text"],
.login input[type="password"] {
    max-width:400px;
    width: 80%;
    line-height:3em;
    font-family: 'Ubuntu', sans-serif;
    margin:1em 2em;
    border-radius:5px;
    border:2px solid #f2f2f2;
    outline:none;
    padding-left:10px;
}

.login-form input[type="button"] {
    height:30px;
    width:100px;
    background:#fff;
    border:1px solid #f2f2f2;
    border-radius:20px;
    color: slategrey;
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
}

.error {
    color: #D8000C;
    background-color: #FFD2D2;
}


.btn {
    background: orange;
    color: white;
    border-radius:20px;
    border: 1px solid orange;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
}
input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
  }
  
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
  }
  
  input[type=checkbox] + label:active:before {
    transform: scale(0);
  }
  
  input[type=checkbox]:checked + label:before {
    color: #fff;
  }
  
  input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }


.header {
    background: green;
}